.prospects .callout-info {
    width: 90px;
    margin: 0 33%;
}

#content-area .staff-performance-datepicker {
    padding-left: 2%;
}

.staff-performance-datepicker .datepicker {
    width: 100%;
}

.staff-performance-datepicker button {
    width: 100%;
}
